{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
        .font-poppins {
          font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body class='bg-gradient-to-r from-[#5B073A] to-[#673252] font-poppins'>
    {% if user.is_authenticated %}


    <section id="root">
        <nav class="flex flex-row bg-gradient-to-r from-[#5B073A] to-[#673252] p-8 mb-8">

            <div class="container flex justify-between items-center">
                <div class='text-white w-36'>
                    <p id="task-count"></p>
                </div>
                <div class="text-white font-medium text-center w-full ">
                  <p class="text-2xl max-w-[calc(100%-4rem)]">Ulaş Gülhan's ToDo List</p>
                </div>
            </div>
            <button type="submit" class='text-white hover:text-gray-300' hx-post="{% url 'logout' %}" onclick="reloadPage()">Logout</button>
        </nav>
        

        <div class='flex flex-col items-center justify-center'>
            <div class='flex flex-col items-center justify-center w-2/4'>
            <form id="add-task-form" hx-post="{% url 'task-create' %}" hx-trigger="submit" hx-target="#task-list" hx-swap="beforeend" class="w-full flex">
                <input type="text" name="task" placeholder="Enter task" class="mb-2 flex-grow px-4 py-2 border rounded mr-2 h-10">
                <button type="submit" class="bg-[#3C46FF] hover:bg-[#2B31A6] text-white font-medium py-2 px-4 rounded h-10">&#43; Add Task</button>
            </form>
            </div>
        </div>

        <div class='flex flex-row items-center justify-center'>
            <div class="w-2/4 bg-[#FFFFFF] flex justify-center border-[#EDEAE9] border-b">
                <button id='activeTasksBtn' onclick="fetchActiveTasks()" class="my-2 mr-4 border-2 border-[#3C46FF] hover:bg-[#3C46FF] hover:text-white font-medium py-2 px-4 rounded">&#9733;&nbsp; Active Tasks</button>
                <button id="completedTasksBtn"  onclick="fetchCompletedTasks()" class="my-2 mr-4 border-2 border-[#2BA470] hover:bg-[#2BA470] hover:text-white font-medium py-2 px-4 rounded">&#10004;&nbsp; Completed Tasks</button>
                <button hx-put="{% url 'task-complete-delete' %}" class="font-medium rounded"><p class='border-b border-[#EB7586] hover:border-[#D93256] hover:text-[#D93256] text-[#EB7586]'>&#10006;&nbsp; Delete Completed Tasks</p></button>
            </div>
        </div>
        
        <div class="flex flex-col items-center justify-center">
            <div id="task-list" class="w-2/4">
        
            </div>
        </div>


    </section>
    {% else %}


    <div class="flex flex-col justify-center items-center h-screen bg-[url('static/img/login.svg')] bg-cover bg-center">
        <p class='mb-4 text-white font-medium text-3xl'>Welcome!</p>
        <div class="bg-[#F4F5F7] p-8 rounded shadow-inner">
            <p id="formTitle" class="flex justify-center mb-8">Login to your account</p>
            <div class="flex justify-center mb-8">

            <button onclick="showLoginForm()" class="mr-4 px-4 py-2 bg-[#3C46FF] text-white rounded">Login</button>
            <button onclick="showRegisterForm()" class="px-4 py-2 bg-[#3C46FF] text-white rounded">Register</button>

            </div>
            <div id="registerError" style="display: block; color: red;"></div>
            <div id="loginForm">
                <h1>Login</h1>
                <form hx-post="{% url 'login' %}" onsubmit="reloadPage()">
                    <input type="text" name="username" placeholder="Username" required class="mb-2 px-4 py-2 border border-gray-300 rounded w-full"><br>
                    <input type="password" name="password" placeholder="Password" required class="mb-2 px-4 py-2 border border-gray-300 rounded w-full"><br>
                    <button type="submit" class="px-4 py-2 bg-[#3C46FF] text-white rounded w-full">Login</button>
                </form>
            </div>
            <div id="registerSuccess" style="display: none;">Registration successful. Redirecting to login...</div>
            <div id="registerForm" style="display: none;">
                <h1>Register</h1>
                <form hx-post="{% url 'register' %}" onsubmit="submitRegisterForm()">
                    <input type="text" id="registerUsername" name="username" placeholder="Username" required class="mb-2 px-4 py-2 border border-gray-300 rounded w-full"><br>
                    <input type="email" name="email" placeholder="Email" required class="mb-2 px-4 py-2 border border-gray-300 rounded w-full"><br>
                    <input type="password" name="password" placeholder="Password" required class="mb-2 px-4 py-2 border border-gray-300 rounded w-full"><br>
                    <button type="submit" class="px-4 py-2 bg-[#3C46FF] text-white rounded w-full">Register</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</body>
<script src="{% static "js/main.js" %}"></script>
<script>document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
});</script>
</html>


