<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body >
    {% if user.is_authenticated %}
    <section id="root">
        <div class='flex flex-col items-center justify-center'>
            <h1 class="mb-4">Task List</h1>
            <form id="add-task-form" hx-post="{% url 'task-create' %}" hx-trigger="submit" hx-target="#task-list" hx-swap="beforeend" >
                <input type="text" name="task" placeholder="Enter task" class="mb-2 px-4 py-2 border rounded">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Task</button>
            </form>
        </div>

            <div id="task-list" class="flex flex-col items-center">
        
            </div>
            <hr>
            <button type="submit" class='text-base font-bold bg-red-500 hover:bg-red-600 text-white rounded' hx-post="{% url 'logout' %}" onclick="reloadPage()">Logout</button>




    </section>
    {% else %}
    <h1>Login</h1>
    <form hx-post="{% url 'login' %}" onsubmit="reloadPage()">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>

    <hr>

    <h1>Register</h1>
    <form hx-post="{% url 'register' %}">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Register</button>
    </form>
    {% endif %}
</body>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });
    
    document.body.addEventListener('htmx:afterRequest', (event) => {
        fetchTasks()
        document.querySelector("input[name='task']").value = '';
    });

    function reloadPage() {
        setTimeout(() => {
            location.reload();
        }, 500);
    }

    function fetchTasks() {
        fetch('/api/tasks/')
            .then(response => response.json())
            .then(data => {
                const tasksContainer = document.getElementById('task-list');
                tasksContainer.innerHTML = '';
                data.tasks.forEach(task => {
                    const taskDiv = document.createElement('div');
                    taskDiv.classList.add('flex', 'items-center', 'space-x-4', 'mb-4');

                    const completeButton = document.createElement('button');
                    completeButton.textContent = '✓';
                    completeButton.classList.add('bg-blue-500', 'hover:bg-blue-700', 'text-white', 'font-bold', 'py-2', 'px-4', 'rounded');
                    completeButton.addEventListener('click', () => {
                        patchTaskComplete(task.id)
                            .then(() => fetchTasks());
                    });

                    const taskElement = document.createElement('p');
                    taskElement.textContent = task.task;
                    if (task.is_complete) {
                        taskElement.style.textDecoration = 'line-through';
                        taskElement.style.color = 'green';
                    }
    
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'X';
                    deleteButton.classList.add('bg-red-500', 'hover:bg-red-700', 'text-white', 'font-bold', 'py-2', 'px-4', 'rounded');
                    deleteButton.addEventListener('click', () => {
                        patchTaskDelete(task.id);
                        tasksContainer.removeChild(taskDiv);
                    });

                    taskDiv.appendChild(completeButton);
                    taskDiv.appendChild(taskElement);
                    taskDiv.appendChild(deleteButton);
    
                    tasksContainer.appendChild(taskDiv);
                });
            });
    }
    function patchTaskDelete(taskId) {
        fetch(`/api/tasks/delete/${taskId}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            
            console.log('Task patched successfully');
        })
        .catch(error => {
            console.error('There was a problem with the patch request:', error);
        });
    }
    function patchTaskComplete(taskId) {
        return fetch(`/api/tasks/complete/${taskId}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            
            console.log('Task patched successfully');
        })
        .catch(error => {
            console.error('There was a problem with the patch request:', error);
        });
    }
    
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    window.addEventListener('load', fetchTasks);
</script>

</html>


